* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
}

.run-btn {
    width: 100%;
    padding: 5px;
}

.btns {
    border: 1px solid green;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*label {*/
    /*width: 50%;*/
/*}*/

/*input[type="text"] {*/
    /*width: 50%;*/
/*}*/

.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    border: 1px solid lightgray;
    background-color: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

input[type=button] {
}